* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ob';
    src: url('ob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('Cyberpunk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Cyberpunk', Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}


.container {
    background-color: #000000;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgb(255, 0, 0);
}

h1 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}

#urlInput {
    font-family: 'ob', Arial, sans-serif;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #470000;
    border-radius: 5px;
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
}

.button-group button {
    font-family: 'ob', Arial, sans-serif;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #961515;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #b71c1c;
}

.button-group button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

p {
    font-size: 1em;
    color: #bbb;
    margin-top: 20px;
}

.container::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: -30px;
    background-color: #1f1f1f;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(45deg);
}


@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    #urlInput {
        width: 100%;
    }

    .button-group button {
        width: 80%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    .container {
        max-width: 95%;
        padding: 10px;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .button-group button {
        font-size: 1em;
        padding: 12px;
    }

    p {
        font-size: 0.9em;
    }
}
